<div class="container">
  <footer class="footer">
    <small>
      Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>